.main-container {
    border: 2px dashed black;
    width: 50vw;
    height: 100vh;
}
 
.box {
    border: 2px solid black;
    width: 200px;
    height: 200px;
    display: inline-block;
    margin: 20px;
}
.hidden {
    overflow: hidden;
}
.scrollable {
    overflow: scroll;
}
.scrollable-x {
    overflow: hidden;
    overflow-x: auto;
}
.scrollable-y {
    overflow: hidden;
    overflow-y: auto ;
}